       <!-- team start -->
       <section class="section" id="team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3>Meet Our <span class="text-primary">Team</span></h3>
                        <p class="text-muted mt-3">Our team values more than big budgets.
                            We do our best to meet our customers expectations, always in time.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img1.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Kenneth Simpson</a></h5>
                            <p class="text-muted">CEO/Founder</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team//img2.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Daniel Malave</a></h5>
                            <p class="text-muted">Co-Founder & CEO</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img3.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">James Peck</a></h5>
                            <p class="text-muted">UX Designer</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img4.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Marc Johnson</a></h5>
                            <p class="text-muted f-14">Product Manager</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img5.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Christa Smith</a></h5>
                            <p class="text-muted f-14">Team Leader</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img6.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Norma Desalvo</a></h5>
                            <p class="text-muted">Web Designer</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img7.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Crystal Barney</a></h5>
                            <p class="text-muted">Web Developer</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-6">
                    <div class="team-box mt-4">
                        <div class="team-img">
                            <img src="assets/images/team/img8.jpg" alt="Team" class="img-fluid" />
                            <div class="team-overlay">
                                <div class="team-content text-center">
                                    <div class="team-social-icon">
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                        <a href="javascript:void(0);" class="m-1"><i class="mdi mdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-3 text-center">
                            <h5 class="fs-17 mb-1"><a href="javascript:void(0);" class="primary-link">Angie Hernandez</a></h5>
                            <p class="text-muted">Font-end Developer</p>
                        </div>
                    </div><!--end team-box-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- team end -->