

.Contact-info {
    .icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
        border-radius: 3px;
        text-align: center;
        color: $primary;
        background-color: rgba($primary, 0.08);
    }
}