    <!-- START CONTACT -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="text-center mb-5">
                        <h3>Get In <span class="text-primary"> Touch</span></h3>
                        <p class="text-muted">It is advantageous when the dummy text is relatively realistic so that the layout impression.</p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <!-- <div class="col-lg-4"> -->
                    <!-- <div class="Contact-info d-flex align-items-center">
                        <div class="icon flex-shrink-0">
                            <i class="mdi mdi-map-marker"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="text-muted mb-0">65 Deerfield Rd., Morganville, NJ 07751, USA.</p>
                        </div>
                    </div>
                    <div class="Contact-info d-flex align-items-center mt-3">
                        <div class="icon flex-shrink-0">
                            <i class="mdi mdi-phone"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="text-muted mb-0">+201 988 2733</p>
                        </div>
                    </div>  --> 
                    <!-- <div class="Contact-info d-flex align-items-center mt-4">
                        <div class="icon flex-shrink-0">
                            <i class="mdi mdi-email"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="text-muted mb-0">support@rayzlabs.com</p>
                        </div>
                    </div>  -->
                    <!-- <div class="Contact-info d-flex align-items-center mt-4">
                        <div class="icon flex-shrink-0">
                            <i class="mdi mdi-clock-time-four-outline"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="text-muted mb-0">Mon - Sat 9:00 am - 6:30 pm</p>
                        </div>
                    </div>  -->
                <!-- </div> -->
                <!-- end col -->

                <div class="col-lg-11 offset-lg-1">
                    <div class="mt-4 mt-lg-0">
                        <form method="post" name="myForm" (ngSubmit)="submitForm()" [formGroup]="contactform">
                            <p id="error-msg"></p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input name="name" id="name" type="text" formControlName="name" class="form-control"
                                            placeholder="Enter your name..">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email address</label>
                                        <input name="email" id="email" type="email" formControlName="email" class="form-control"
                                            placeholder="Enter your email..">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="subject" class="form-label">Subject</label>
                                        <input type="text" class="form-control" formControlName="subject" id="subject"
                                            placeholder="Enter Subject.." />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="comments" class="form-label">Message</label>
                                        <textarea name="comments" id="comments" rows="3" formControlName="message" class="form-control"
                                            placeholder="Enter message.."></textarea>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="submit" name="send" class="btn btn-primary">Send Message<i
                                            class="mdi mdi-telegram ms-2"></i></button>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form> <!-- end form -->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- END CONTACT -->

          <!-- START CTA -->
        <!--   <section class="section bg-light">
            <div class="container"> -->
                <!-- <div class="row justify-content-center">
                    <div class="col-2">
                        <div class="cta-img text-center">
                            <img src="assets/images/icon/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="cta-img text-center">
                            <img src="assets/images/icon/2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">
                            <img src="assets/images/icon/3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div> -->
                <!--end row-->

                <!-- <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-5 mb-4">
                            <h6 class="text-muted">Subscribe To Our Newsletter For New Content, <span
                                    class="d-block mt-2">Update And Giveaways!</span></h6>
                        </div>
                        <div class="text-center subscribe-form mt-4">
                            <form action="#">
                                <input type="text" placeholder="Your email address...">
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div> -->
                <!--end row-->
            <!-- </div> -->
            <!--end conatiner-->
        <!-- </section> -->
        <!-- END CTA -->

