  <!-- START BLOG -->
  <section class="section bg-light" id="blog">
    <div class="container" style="max-width:1640px !important;">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>Latest <span class="text-primary">News</span></h3>
                    <p class="text-muted mb-0">Start working with Xegal that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-box card mt-4">
                    <div class="blog-img">
                        <img src="assets/images/blog-01.jpg" alt="Blog" class="img-fluid rounded-top">
                        <div class="blog-tag">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content card-body p-4">
                        <ul class="list-inline text-muted mb-0">
                            <li class="list-inline-item fs-14"><i class="mdi mdi-calendar-month me-1"></i>24th June
                                2020</li>
                            <li class="list-inline-item fs-14"><i class="mdi mdi-account me-1"></i><a href="javascript:void(0);"
                                    class="text-muted">By Admin</a></li>
                        </ul>
                        <a href="javascript:void(0);" class="primary-link">
                            <h5 class="my-3">Smartest Applications for Business</h5>
                        </a>
                        <a href="javascript:void(0);" class="text-secondary">Read More <i
                                class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div><!-- end blog-box -->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="blog-box card mt-4">
                    <div class="blog-img">
                        <img src="assets/images/blog-02.jpg" alt="Blog" class="img-fluid rounded-top">
                        <div class="blog-tag">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content card-body p-4">
                        <ul class="list-inline text-muted mb-0">
                            <li class="list-inline-item fs-14"><i class="mdi mdi-calendar-month me-1"></i>24th June
                                2020</li>
                            <li class="list-inline-item fs-14"><i class="mdi mdi-account me-1"></i><a href="javascript:void(0);"
                                    class="text-muted">By Admin</a></li>
                        </ul>
                        <a href="javascript:void(0);" class="primary-link">
                            <h5 class="my-3">Winged moved stars, fruit creature seed night.</h5>
                        </a>
                        <a href="javascript:void(0);" class="text-secondary">Read More <i
                                class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div><!-- end blog-box -->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="blog-box card mt-4">
                    <div class="blog-img">
                        <img src="assets/images/blog-03.jpg" alt="Blog" class="img-fluid rounded-top">
                        <div class="blog-tag">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content card-body p-4">
                        <ul class="list-inline text-muted mb-0">
                            <li class="list-inline-item fs-14"><i class="mdi mdi-calendar-month me-1"></i>24th June
                                2020</li>
                            <li class="list-inline-item fs-14"><i class="mdi mdi-account me-1"></i><a href="javascript:void(0);"
                                    class="text-muted">By Admin</a></li>
                        </ul>
                        <a href="javascript:void(0);" class="primary-link">
                            <h5 class="my-3">We Deliver Dreams that you Matches Aspirations</h5>
                        </a>
                        <a href="javascript:void(0);" class="text-secondary">Read More <i
                                class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div><!-- end blog-box -->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END BLOG -->
