  <!-- START FOOTER -->
  <section class="footer">
    <div class="container" style="max-width:1640px !important;">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4">
                    <a routerLink="/index1"><img src="assets/images/RAYZ rev4.png" alt="" class="logo-dark"
                            height="24" /></a>
                    <p class="text-muted mt-4 mb-2 me-lg-4">We denounce with righteous indignation in and dislike men who are so beguiled and to demo realized by the charms of pleasure moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound.</p>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-2 col-6">
                <h6 class="mb-3">Services</h6>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="javascript:void(0);">Digital Marketing</a></li>
                    <li><a href="javascript:void(0);">Business Analysis</a></li>
                    <li><a href="javascript:void(0);">How It Work</a></li>
                    <li><a href="javascript:void(0);">Fix & Flip</a></li>
                    <li><a href="javascript:void(0);">Social Activation</a></li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-lg-2 col-6">
                <h6 class="mb-3">About Us</h6>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                    <li><a href="javascript:void(0);">FAQs</a></li>
                    <li><a href="javascript:void(0);">Blog</a></li>
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <h6 class="mb-3">Company</h6>
                <p class="text-muted">65 Deerfield Rd., Morganville, NJ 07751</p>
                <p class="text-muted pb-2">Email: Support@rayzlabs.com</p>
                <ul class="list-inline footer-social-list mt-4">
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-skype"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-slack"></i></a></li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<div class="footer-alt py-4 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    <p class="mb-0 f-15">
                        {{year}} &copy; Rayzlabs - 2023
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end footer-alt-->
<!-- END FOOTER -->

<!--start back-to-top-->
<button (click)="topFunction()" id="back-to-top">
    <i class="mdi mdi-arrow-up-bold"></i>
</button>
<!--end back-to-top-->
