  <!-- START FEATURES -->
  <section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h3>Our <span class="text-primary">Products</span></h3>
                    <p class="text-muted">Start working with Reckonix that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="text-center mb-4 mb-lg-0">
                    <img src="assets/images/features/img-1.png" alt="Feature" class="img-fluid position-relative" />
                    <div class="position-absolute top-0 start-0" style="z-index: -1;">
                        <img src="assets/images/features/features-bg.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-6 offset-lg-1">
                <div class="features-box">
                    <div class="features-icon mb-4">
                        <i class="mdi mdi-laptop-mac"></i>
                    </div>
                    <h5 class="mb-3">Reckonix</h5>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-2">Unleash Sentient Insights: Evolving Analytics into Widsom.</p>
                    </div>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-2">Unleash Sentient Insights: Transform Data into Wisdom.</p>
                    </div>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-3">Empowering data with Sentience. Evolving Analytics into Wisdom.</p>
                    </div>
                    <a href="javascript:void(0);" class="text-primary">Read More <span class="right-icon ms-2">&#8594;</span></a>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

       <!--  <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box">
                    <div class="features-icon mb-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="mb-3">Team Management</h5>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-2">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences</p>
                    </div>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-3">Using Landrick to build your site means never worrying about designing another page or cross browser compatibility.</p>
                    </div>
                    
                    <a href="javascript:void(0);" class="text-primary">Read More <span class="right-icon ms-2">&#8594;</span></a>
                </div>
            </div> -->
            <!--end col-->
           <!--  <div class="col-lg-5 col-md-6 offset-lg-1 order-first order-md-last">
                <div class="text-center mb-4 mb-lg-0">
                    <img src="assets/images/features/img-2.png" alt="Feature" class="img-fluid position-relative" />
                    <div class="position-absolute top-0 start-0" style="z-index: -1;">
                        <img src="assets/images/features/features-bg.png" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
            end col
        </div> -->
        <!--end row-->

        <div class="row align-items-center mt-5">
           <!--  <div class="col-md-5">
                <div class="text-center mb-4 mb-lg-0">
                    <img src="assets/images/features/img-3.png" alt="Feature" class="img-fluid position-relative" />
                    <div class="position-absolute top-0 start-0" style="z-index: -1;">
                        <img src="assets/images/features/features-bg.png" alt="" class="img-fluid" />
                    </div>
                </div>
            </div> -->
            <!--end col-->
           <!--  <div class="col-lg-5 col-md-6 offset-lg-1">
                <div class="features-box">
                    <div class="features-icon mb-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="mb-3">Marketing Analysis</h5>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-2">These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>
                    </div>
                    <div class="d-flex"><i class="mdi mdi-check-bold align text-primary me-2"></i>
                        <p class="text-muted mb-3">One may speculate that over the course of time certain letters were added or deleted at various positions within the text.</p>
                    </div>
                    <a href="javascript:void(0);" class="text-primary">Read More <span class="right-icon ms-2">&#8594;</span></a>
                </div>
            </div> -->
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- Features End -->

  <!-- START COUNTER -->
  <!-- <section class="section counter-bg" id="features"
  style="background-image: url(assets/images/bg-counter.jpg); background-position:center; background-attachment: fixed;"> -->
  <!-- <div class="bg-overlay"></div> -->
  <div class="container">
      <div class="row justify-content-center">
         <!--  <div class="col-lg-8">
              <div class="text-center mb-5">
                  <h2 class="text-white mb-2">See everything about your website</h2>
                  <h6 class="text-white-50">More Than 1000+ Work Successfully</h6>
              </div>
          </div> -->
          <!-- end col -->
      </div>
      <!-- end row -->
      <!-- <div class="row" id="counter"> -->
         <!--  <div class="col-lg-3 col-md-6">
              <div class="counter-box text-center text-white mt-4">
                  <div class="counter-icon mb-4">
                      <i class="pe-7s-like2"></i>
                  </div>
                  <div class="counters">
                      <h3 class="counter mb-0">650+</h3>
                  </div>
                  <p class="mb-0 text-white-50 text-uppercase">Successful Project</p>
              </div>
          </div> -->
          <!-- end col -->
        <!--   <div class="col-lg-3 col-md-6">
              <div class="counter-box text-center text-white mt-4">
                  <div class="counter-icon mb-4">
                      <i class="pe-7s-light"></i>
                  </div>
                  <div class="counters">
                      <h3 class="counter mb-0">350+</h3>
                  </div>
                  <p class="mb-0 text-white-50 text-uppercase">Project Ideas</p>
              </div>
          </div> -->
          <!-- end col -->
        <!--   <div class="col-lg-3 col-md-6">
              <div class="counter-box text-center text-white mt-4">
                  <div class="counter-icon mb-4">
                      <i class="pe-7s-smile"></i>
                  </div>
                  <div class="counters">
                      <h3 class="counter mb-0">800k</h3>
                  </div>
                  <p class="mb-0 text-white-50 text-uppercase">Satisfied Clients</p>
              </div>
          </div> -->
          <!-- end col -->
          <!-- <div class="col-lg-3 col-md-6">
              <div class="counter-box text-center text-white mt-4">
                  <div class="counter-icon mb-4">
                      <i class="pe-7s-star"></i>
                  </div>
                  <div class="counters">
                      <h2 class="counter mb-0">590+</h2>
                  </div>
                  <p class="mb-0 text-white-50 text-uppercase">Award Win</p>
              </div>
          </div> -->
          <!-- end col -->
      <!-- </div> -->
      <!-- end row -->
  </div>
<!-- </section> -->
<!-- END COUNTER -->

<!-- START TESTIMONIAL -->
<section class="section bg-light" id="features">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
              <div class="text-center mb-5">
                  <h3>Our <span class="text-primary">Clients</span></h3>
                  <p class="text-muted"> The main component of a healthy env for self esteem The main compont be nurturing It should provide unconditional warmth.</p>
              </div>
          </div>
          <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
          <div class="col-md-4">
              <h3>Some Words From Our <span class="fw-medium text-primary">Happy Clients </span> </h3>
              <p class="text-muted">Bookan unknown printer took a galley of type and scrambled make It has survived not only five centuries.</p>
          </div>
          <!--end col-->
          <div class="col-md-8">

              <!-- Swiper -->
              <swiper [config]="config" class="swiper-container testi-slider pb-5">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="testi-box p-3 position-relative">
                              <div class="testi-content">
                                  <ul class="list-inline fs-15 text-warning mb-2">
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                  </ul>
                                  <p class="text-muted position-relative mb-0 f-14"><span
                                          class="f-20 me-1">"</span> These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories. <span class="f-16">"</span></p>
                              </div>
                              <div class="testi-user mt-4">
                                  <div class="d-flex align-items-center">
                                      <img src="assets/images/user/img-1.jpg" alt=""
                                          class="me-3 img-fluid rounded-circle">
                                      <div class="flex-1">
                                          <h6 class="mb-0 f-15">Jorden Griffin</h6>
                                          <p class="text-muted mb-0 f-14">CEO Founder</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--end testi-box-->
                      </div>

                      <div class="swiper-slide">
                          <div class="testi-box p-3 position-relative">
                              <div class="testi-content">
                                  <ul class="list-inline fs-15 text-warning mb-2">
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                  </ul>
                                  <p class="text-muted position-relative mb-0 f-14"><span
                                          class="f-20 me-1">"</span>
                                          We all intend to plan ahead, but too often let the day-to-day minutia get in the way of making a calendar. <span class="f-16">"</span></p>
                              </div>
                              <!--end testi-content-->
                              <div class="testi-user d-flex align-items-center mt-4">
                                  <img src="assets/images/user/img-2.jpg" alt=""
                                      class="me-3 img-fluid d-block rounded-circle">
                                  <div class="flex-1">
                                      <h6 class="mb-0 f-15">Mike Jason</h6>
                                      <p class="text-muted mb-0 f-14">Web Developer</p>
                                  </div>
                              </div>
                              <!--end testi-user-->
                          </div>
                          <!--end testi-box-->
                      </div>
                      <div class="swiper-slide">
                          <div class="testi-box p-3 position-relative">
                              <div class="testi-content">
                                  <ul class="list-inline fs-15 text-warning mb-2">
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                  </ul>
                                  <p class="text-muted position-relative mb-0 f-14"><span
                                          class="f-20 me-1">"</span>
                                          The main component of a healthy environment for self esteem is that it needs be nurturing. <span class="f-16">"</span></p>
                              </div>
                              <!--end testi-content-->
                              <div class="testi-user mt-4">
                                  <div class="d-flex align-items-center">
                                      <img src="assets/images/user/img-3.jpg" alt=""
                                          class="me-3 img-fluid d-block rounded-circle">
                                      <div class="flex-1">
                                          <h6 class="mb-0 f-15">Francis Ibikunle</h6>
                                          <p class="text-muted mb-0 f-14">Product Manager</p>
                                      </div>
                                  </div>
                              </div>
                              <!--end testi-user-->
                          </div><!-- end testi-box -->
                      </div>
                      <div class="swiper-slide">
                          <div class="testi-box p-3 position-relative">
                              <div class="testi-content">
                                  <ul class="list-inline fs-15 text-warning mb-2">
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                      <li class="list-inline-item m-0"><i class="mdi mdi-star"></i></li>
                                  </ul>
                                  <p class="text-muted position-relative mb-0 f-14"><span
                                          class="f-20 me-1">"</span>
                                          These qualities can be combined perfectly natural. However, things like people look miserable. <span class="f-16">"</span></p>
                              </div>
                              <!--end testi-content-->
                              <div class="testi-user mt-4">
                                  <div class="d-flex align-items-center">
                                      <img src="assets/images/user/img-5.jpg" alt=""
                                          class="me-3 img-fluid d-block rounded-circle">
                                      <div class="flex-1">
                                          <h6 class="mb-0 f-15">Roberta Guevara</h6>
                                          <p class="text-muted mb-0 f-14">Developer</p>
                                      </div>
                                  </div>
                              </div>
                              <!--end testi-user-->
                          </div>
                          <!--end testi-box-->
                      </div>
                  </div>
                  <div class="swiper-pagination"></div>
              </swiper>
            
          </div>
          <!--end col-->
      </div>
      <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END TESTIMONIAL -->
