.boxCard {
    padding: 40px 10px;
}
.whiteBox {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,.05);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,.05);
    padding: 50px 40px 20px;
}
.hide-desktop {
    display: none;
}
.tab {
    border-right: 3px solid #00677f;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    min-height: 300px;
}
.tabcontent {
    animation: blinker .6s linear;
    background: #fff;
    float: left;
    padding: 0 12px;
    width: 100%;
}
.tabimage{
    float: right !important;
    border-radius: 10px;
}
.tab button.active, .tab button:hover {
    border-bottom: 3px solid #9cdbd9;
    color: #8c8c8c;
}
.tab button {
    background: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 7px 0;
    outline: none;
    padding: 7px 0;
    text-align: left;
    text-transform: uppercase;
    transition: .3s ease-in;
}
/* .row > * {
    position: relative;
}
.col {
    flex: 1 0 0%;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
} */
.cta-primary, .cta-primary:active, .hhs-alt-nav .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li .mega-menu a.cta-primary, .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li .mega-menu a.cta-primary, .hhs-top-bar .hs-menu-wrapper.hs-menu-flow-horizontal>ul li .mega-menu a.cta-primary {
    background-color: #0077c8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff!important;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
    padding: 18px;
    text-transform: uppercase;
}